body {
  background-color: powderblue;
}
body figure {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 25px;
  z-index: 100;
  background-color: dimgray;
  color: #000;
}
nav .navbar-brand {
  color: #000;
}
nav .navbar-brand:hover {
  cursor: pointer;
}

button, .btn {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  background-color: lightpink;
  cursor: pointer;
}
button:hover, .btn:hover {
  animation: btn-hover 0.5s ease both;
}
@keyframes btn-hover {
  100% {
    border-color: lightpink;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-body {
  position: relative;
}
.home-body figure.masthead {
  height: 100%;
  width: 100%;
}
.home-body figure.masthead img {
  filter: blur(3px);
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.home-body figure.masthead #canvas {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.home-body .header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: rgba(1, 1, 1, 0.85);
  border: 3px solid white;
  color: white;
}
.home-body .header-content strong {
  color: darkorchid;
}

.about-tall {
  height: 400px;
}
.about-tall .content-about {
  margin: 20px;
  padding: 20px;
}

#Portfolio {
  padding: 10px;
}
#Portfolio .portfolio-display {
  width: 100%;
  padding: 20px 0;
}
#Portfolio .portfolio-display ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
}
#Portfolio .portfolio-display ul li {
  display: inline;
  margin: 10px;
  position: relative;
}
#Portfolio .portfolio-display ul li:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Portfolio .portfolio-display ul li:hover img {
  filter: grayscale(50%);
  animation: blur 1s ease both;
}
#Portfolio .portfolio-display ul li:hover .portfolio-name, #Portfolio .portfolio-display ul li:hover .preview {
  display: inline;
  animation: show-button 1s ease both;
}
#Portfolio .portfolio-display ul li figure img {
  width: 300px;
  height: 200px;
  max-width: 300px;
  max-height: 300px;
}
#Portfolio .portfolio-display ul li .portfolio-name {
  display: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  margin: auto;
  text-align: center;
}
#Portfolio .portfolio-display ul li .preview {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  margin: auto;
  text-align: center;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(3px);
  }
}
@keyframes show-button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contact-tall .content-contact {
  margin: 20px 20px 0;
  padding: 20px 0;
  width: 100%;
}
.contact-tall form {
  width: 400px;
  margin: auto;
}
.contact-tall form .form-control {
  margin-bottom: 16px;
}

/* The Modal (background) */
.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  /* Modal Content/Box */
}
.modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}
.modal .modal-content figure {
  margin: -20px;
  padding-bottom: 30px;
}
.modal .modal-content figure img {
  max-height: 300px;
}
.modal .modal-content .title {
  font-size: 20px;
}
.modal .modal-content .tag {
  color: #CCC;
  padding-bottom: 20px;
  border-bottom: 2px solid #CCC;
}
.modal .modal-content .description {
  padding: 20px 0;
}
.modal .modal-content .row {
  margin: 0px;
}
.modal .modal-content .row .link {
  color: #000;
}
.modal .modal-content .row .close {
  vertical-align: middle;
  margin-left: auto;
  font-size: 40px;
}

.content-center {
  /* padding-left: auto;
  padding-right: auto; */
  text-align: center;
}

.section {
  width: 100%;
  align-items: center;
}
.section:first-child {
  margin-top: -20px;
}
.section:nth-child(2n+3) {
  background-color: #CCC;
}
.section .section-header {
  font-size: 28px;
  padding-top: 30px;
  text-align: center;
  animation: slide-in-right 1s ease both;
}
.section .section-header .section-title {
  display: inline;
  border-bottom: 2px solid #000;
}
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

div.animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.typewriter h1 {
  text-align: left;
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/*# sourceMappingURL=main.css.map */
