
$color-darkblue: #1B242F;
$color-white: #FFFFFF;
$color-lightgray: #CCC;
$color-black: #111;
$color-lightblue: #04C2C9;
$color-lightpink:  #E31B6D;//lightpink;
$color-hotpink: #E31B6D;


// Small tablets and large smartphones (landscape view)
$screen-xs-min: 480px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

html, body {
    // // width: 100vw;
    // height: auto;
    width: fit-content;
}
body {
    // background-color: darkblue;
    background-color: $color-darkblue !important;
    // background-image: linear-gradient(to right, rgba( 4, 194, 201, 0.16) , rgba( 228, 247, 20, 0.19));
    figure {
        margin: 0;
    }
}

h1 {
    font-size: 30px !important;
    @media screen and (min-width: $screen-sm-min) {
        font-size: 36px !important;
    }
    @media screen and (min-width: $screen-lg-min) {
        font-size: 40px !important;
    }
}

nav.navbar-top {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: flex-end;
    position: sticky;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    padding-left: 30px;
    z-index: 100;
    background-color: $color-darkblue;
    border: none;
    border-bottom: 2px solid $color-lightblue; 
    color: $color-white;

    transition: all 0.6s;
    .navbar-brand {
        padding-right: 30px;
        transition: color 0.5s;
        text-transform: uppercase;

        &.active {
            color: $color-lightpink;
        }
        &:hover {
          cursor: pointer;
        }
    }

    .navbar--desktop {
        display: none;
    }
    .navbar--mobile {
        // float: right;
        i {
            font-size: 28px;
        }
    }
    
    &.mobile-open {
        .navbar-brand {
            display: inline-block;
            width: 100%;
            transition: all 0.6s;
        }
    }

    @media screen and (min-width:640px) {
        display: block;
        .navbar--mobile {
            display: none;
        }
        .navbar--desktop {
            display: inline-block;
            width: min-content;
        }
    }

    @media screen and (max-width:640px) {
        .navbar--mobile {
            display: inline-block;
        }
        .navbar--desktop {
            display: none;
        }
    }


}

@mixin element-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@mixin element-shadow-darker {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

button, .btn {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px !important;
    border: 2px solid $color-lightpink;
    background-color: $color-lightpink;
    color: $color-white;
    @include element-shadow;
    transition: all 0.6s;

    &:hover {
        width: 205px;
        background-color: $color-white;
        border: 2px solid $color-lightpink;
        color: $color-lightpink;
        transition: all 0.6s;
    }
}

div, p {
    font-size: 16px;
    @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min){
        font-size: 22px;
    }
    @media (min-width: $screen-lg-min) {
        font-size: 26px;
    }
}


img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0;
    @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min){
        font-size: 22px;
    }
    @media (max-width: $screen-lg-min) {
        margin-left: auto;
    }
}

.home-body {
    position: relative;
    height: 100vh;
    figure, figure div {
        height: 100%; 
        width: 100%;
        max-height: 100%; 
        max-width: 100%;
    }

    .header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // padding: 60px;
        // background: rgba(1,1, 1, 0.25);
        // border: 3px solid $color-lightblue;
        border-radius: 10px;

        color: white;


        @media screen and (max-width: $screen-md-min) {
            width: 95%;
            padding: 60px;
        }
        @media screen and (max-width: $screen-xs-min) {
            width: 95%;
            padding: 15px;
        }

        strong {
            font-size: 3rem;
        }

        .nav-link {
            color: white;
            i.fa:hover {
                font-size: 40px;
            }
        }
    }
}

.about-tall {
    // height: 400px; // temp delete later
    padding: 10px 0;

    .content--about {
        padding: 30px 20px;

        figure img {
            // width: 300px;
            // height: 200px;
            max-width: 350px;
            max-height: 450px;
            border-radius: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: all 1.2s;
            opacity: 1;
            filter: blur(0px);
        }
    }
    .content--about-text {
        @media screen and (max-width: $screen-lg-min) {
            padding: 25px 15px 0;
            p {
                font-size: 16px;
                text-align: left;
            }
        }
    }

    .product-details {
        width: 50px;
        height: 50px;
    }
    .skill-title {
        margin: auto;
    }
    .skill-list {
        display: flex;
        justify-items: center;
        justify-content: space-between;
        flex: 1;

        div {
            padding: 10px;
            border: 1px solid $color-lightgray;
            border-radius: 5px;
            background-color: white;
        }
    }
}


#Portfolio {
    padding: 10px;

    .portfolio-display {
        width: 100%;
        padding: 20px 0;

        .row {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            list-style: none;
            padding: 10px;

            .portfolio-item {
                flex: 1;
                max-height: 325px;
                margin: 10px;
                position: relative;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                    img {
                        transition: all 1.2s;
                        opacity: 0.2;
                        filter: blur(3px);
                    }
                    .preview {
                        transition: all 1.2s;
                        opacity: 1;
                        // display: block;
                    }
                }
                figure {
                    background-color: white;
                    height: 100%;
                    img {
                        // width: 300px;
                        // height: 200px;
                        // max-width: 300px;
                        // max-height: 300px;
                        min-width: 300px;
                        min-height: 300px;
                        transition: all 1.2s;
                        opacity: 1;
                        filter: blur(0px);
                    }

                    .levinson-logo {
                        object-fit: contain;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .grainger-logo {
                        object-fit: contain;
                        // padding-top: 30px;
                        // min-height: 270px;
                    }
                    .cmt-logo {
                        background-color: #333;
                        object-fit: contain;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    .geneca-logo {
                        object-fit: contain;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .preview {
                    // display: none;
                    position: absolute;
                    height: 100%;
                    // top: 10%;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    font-size: 22px;
                    text-align: center;
                    color: $color-darkblue;
                    transition: all 1.2s;
                    opacity: 0;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;


                    .learn-more {
                        // position: absolute;
                        // top: 80%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        border-color: $color-lightpink;
                        font-size: 22px;
                        // margin: 26px auto auto;
                        margin: 25px auto;
                        text-align: center;
                    }
                }
            }
        }
    }
}


.contact-tall {
    .content-contact {
        padding: 20px 0;
        width: 100%;
    }

    .sub-text {
        text-align: center;
        padding-top: 24px;
    }

    form {
        max-width: 420px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin: auto;
        
        fieldset {
            padding: 0 10px;
            input, textarea {
                display: block;
                width: 100%;
                margin: 20px 0;
                border-radius: 10px;
                padding: 8px;
                @include element-shadow;
                border: 1px solid $color-lightgray;
                transition: box-shadow 0.6s;

                &:hover, &:focus {
                    // padding: 10px;
                    @include element-shadow-darker;
                    transition: box-shadow 0.6s;
                }
            }
        }
    }
}

/* The Modal (background) */
.modal-wrap {
    height: 100vh;
    pointer-events: none;
    position: fixed;
    width: 100vw;
    z-index: 100;

    // display: block; /* Hidden by default */
    // position: fixed; /* Stay in place */
    // z-index: 1; /* Sit on top */
    // left: 0;
    // top: 0;
    // width: 100%; /* Full width */
    // height: 100%; /* Full height */

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.modal-opened {
        display: block;
        overflow: scroll;
    
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    
        .modal-content {
            transition: all 1s;
            transform: scale(1);
            opacity: 1;
    
    
            @media screen and (max-width: $screen-md-min) {
                width: 100vw;
                height: 100vh;
    
                .modal__row--bottom {
                    position: fixed;
                }
            }
        }
    }

    /* Modal Content/Box */
    .modal-content {
        transform: scale(0.8);
        transition: all 1s;
        opacity: 0;

        width: 95vw;
        max-width: 670px;
        // display: inline;
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 2px solid #888;

        figure {
            margin: -20px;
            padding-bottom: 30px;
            img {
                // max-height: 300px;
                border-bottom: 3px solid #1b242f;

                object-fit: fill;

                &.modal__image-hidden {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
        }

        .title {
            font-size: 20px;
        }

        .tag {
            color: $color-lightgray;
            padding-bottom: 20px;
            border-bottom: 2px solid $color-lightgray;  
        }

        .description {
            padding: 20px 0;
            @media screen and (min-width: $screen-lg-min){
                font-size: 22px;
            }
        }
        .modal__row--bottom {
            margin: 0px;
            height: 80px;
            justify-content: space-between;

            .btn {
                max-height: 40px;
            }
    
            .close {
                vertical-align: middle;
                margin: 20px;
                // margin-left: auto;
                float: right;
                font-size: 40px;
                transition: all .5s;
                &:hover {
                    transition: all .5s;
                    font-size: 50px;
                    margin-top: 10px;
                    // margin-bottom: 15px;
                }
            }
        }
    } 
}

.carousel {
    margin: auto;
    // max-width: 760px;s

    margin: -20px;
    padding-bottom: 30px;
}
.svgcolor-light {
    // fill: linear-gradient(to right, rgba( 4, 194, 201, 0.16) , rgba( 228, 247, 20, 0.19));
    background-image: linear-gradient(to right, rgba( 4, 194, 201, 0.16) , rgba( 228, 247, 20, 0.19));
}

.content-center{
    /* padding-left: auto;
    padding-right: auto; */
    text-align: center;
    // vertical-align: center;
    // margin: auto;
}

section {
    &:first-child {
        margin-top: -20px;
    }

    // background-color: $color-lightblue;
    background-image: linear-gradient(to right, rgba( 4, 194, 201, 0.16) , rgba( 228, 247, 20, 0.19));
    background-color: white;
    &:nth-child(2n+3) {
        background-color: $color-lightgray;
        background-image: linear-gradient(to right, rgba( 96, 247, 20, 0.15),rgba( 250, 172, 70, 0.19));
        // background-image:none;// linear-gradient(to right, white , $color-lightgray);
    }

    // height: 100vh;
    width: 100vw;

    align-items: center;

    .section-header {
        font-size: 28px;
        padding-top: 30px;
        text-align: center;
        animation: slide-in-right 1s ease both;
        position: relative;
        .section-title {
            display: inline;
            text-transform: uppercase;
            font-weight: bold;
            
            &::after {
                content: '';
                position: absolute;
                width: 60px;
                height: 100%;
                top: 10%;
                left: 50%;
                transform: translate(-50%, 0);
                border-bottom: 2px solid $color-black;  
            } 
        }
    }
    
    @keyframes slide-in-right {
        0% {
            opacity: 0;
            transform: translateX(400px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
}


footer {
    background-color: $color-darkblue;
    color: $color-white;

    .footer-copyright {
        margin: auto;
        font-size: 14px;
        padding-left: 30px;
    }

    .footer__author-name {
        white-space: nowrap;
    }
}

.social {
    float: right;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    @media screen and (max-width: $screen-xs-min) {
        padding: 0;
        margin-left: -12px; // override bootstrap col-6
    }

    .social-icons {
        width: 45px;
        height: 40px;

        i {
            transition: all 0.2s;
            font-size: 36px;
        }
    }
}

  